
$primary-color: black;
$secondary-color: rgb(71, 0, 0);
$font: Arial, Helvetica, sans-serif;


body {
    font-family: $font;
    color: $secondary-color;
    background-color: $primary-color;    
}






