
.header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    background: rgb(0, 0, 90);
    align-items: center;

    color: whitesmoke;
    padding: 0 0 0 0;
    margin-bottom: 0;
    text-align: center;
}

.navigation {
    border-top: 1px solid rgba(255,255,255,0.3);
}

.header > li img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.navigation a {
    display: block;
    padding: 20px;
}
.navigation li {
    flex-basis: 25%;
}
.header a:hover {
    opacity: 0.8;
}
.navigation a:hover {
    background-color: rgb(8, 57, 219);
    font-weight: bold;
    margin: 0;
}

a{
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

.section {
    text-align: center;
    margin-top: 40px;
}

.section div{
    margin: 20px;
}

.section div:last-child {
    margin-top: 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 200px;
    background-color: darkgray;
}

.section img{
    width: 200px;
    height: 200px;
}

#go_top {
    text-align: center;
}

#go_top a::after {
    content: "\2b06";
    font-weight: bold;
}

footer {
    margin: 10px 0 0 0;
    padding: 10px 0 5px 10px;
    height: 100px;
    width: 100%;
    background-color: grey;
    text-align: center;
}

footer img{
    width: 30px;
    height: 30px;
}

.copyright {
    font-size: 10px;
    text-align: left;
    margin-top: 2px;
    
}

.copyright a {
    color: darkgreen;
    font-style: italic;
    font-weight: bold;
}